$borderColor: rgba(0, 0, 0, 0.4);
$borderWidth: 2px;
.project02 {
  background-color: #f4f7ff;
  display: flex;
  justify-content: center;
}

.web {
  background-color: white;
  border: $borderWidth solid $borderColor;
  margin: 100px;
  display: grid;
  grid-template-rows: 1fr 9fr;
}
header {
  ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr) 1.5fr repeat(5, 1fr);
    background-color: $borderColor;
    gap: $borderWidth;
    border-bottom: $borderWidth solid $borderColor;
    .header__tab {
      padding: 25px 0px;
      background-color: white;
      text-align: center;
      font-weight: 300;
      font-size: 14px;
      &:hover {
        font-weight: bolder;
        background-color: $borderColor;
        color: white;
        cursor: pointer;
      }
      &:nth-child(6) {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 22px;
      }
    }
  }
}

.header__breadcrumbs {
  border-bottom: $borderWidth solid $borderColor;
  padding: 10px 0px;
  padding-left: 50px;
  font-size: 12px;
  .header__crumb:last-child {
    opacity: 0.6;
  }
}
.product {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  background-color: $borderColor;
  gap: $borderWidth;
  .product__img {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .product__info {
    display: grid;
    gap: $borderWidth;
    grid-template-rows: 1.5fr 1fr;
    .product__header {
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0px 50px;
      text-transform: uppercase;
      gap: 20px;
      .product__category {
        font-size: 22px;
        font-weight: 600;
      }
      .product__title {
        font-size: 45px;
      }
      .product__buy-section {
        display: flex;
        gap: 50px;
        margin-top: 40px;
        .product__qty {
          font-size: 35px;
        }
        .product__price {
          font-size: 35px;
        }
      }
    }
  }
}
.product__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $borderWidth;
  & > div {
    background-color: white;
  }
  .product__description p {
    width: 70%;
    font-size: 14px;
    margin: 0 auto;
    padding: 25px 0;
  }
  .product__faq {
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .product__question {
      display: flex;
      justify-content: space-between;
      border-bottom: $borderWidth solid black;
      text-transform: uppercase;
      font-weight: 600;
      padding-bottom: 10px;
    }
  }
}
