@use "reset.scss";
@use "/styles/projects/project01.scss";
@use "/styles/projects/project02.scss";

* {
  box-sizing: border-box;
}

body {
  height: 1000vh;
  font-family: sans-serif;
  width: auto;
}
